body {
    background-color: black;

}

.footer {
    color: gray;
    font-size: 0.8rem;
}

div {
    color: #e5e5e5;
}

.spinner {
    margin : 0 auto;
    display: flex;
    justify-content: center;
}