.contentsWrap {
    margin : 4rem auto;
    padding: 1rem 0;
    max-width: 850px;
}

.imgBox {
    display: flex;
    justify-content: center;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subImgBox {
    width: 100%;
    position: relative;


    .subImg + .subImg {
        margin-left: 2rem;
    }

}

.subImg {
    height: auto !important;
  position: relative !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
}