.categoryBlock {
    color: #FEFEFE;
    margin: 0 auto;
    display: flex;
    max-width: 850px;
    align-items: center;
    font-weight: bold;


    
}

.normalCategory {
    color: #FEFEFE;
    font-size: 1.4rem;
}
.highLightCategory {
    color: dodgerblue;
    font-size: 1.4rem;
}

.categoryLink + .categoryLink {
    margin-left: 3rem;
}
.categoryLink + .activeLink {
    margin-left: 3rem;
}
.activeLink + .categoryLink {
    margin-left: 3rem;
}

.periodBox {
    display: flex;
    justify-content: flex-end;
    margin: 1rem 1rem;
}

.categoryLink {
    text-decoration: none;
}
.activeLink {
    text-decoration: none;
    color: dodgerblue;
}