

.ConcertListBlock {
     display: flex;
    gap: 20px 2%;
    flex-wrap: wrap;
    
}
.ConcertListBlock {
    position: relative;
    margin: 0px auto;
    padding: 40px 10px 10px 10px;
    max-width: 850px;
    background-color: rgb(0, 0, 0);
    color: #FFF;
}

.ConcertItemBlock {
    width: 32%;
    color: #EFEFEF;
    
}

.thumbnail {
    margin-right: 1rem;
  }
  .thum_img {
    display: block;
    height: 332px;
    object-fit: cover;
  }
  .contents {
    .sub {
      margin: 0;
      color: #EFEFEF;
    }
    .contensts-p {
      margin: 0;
      line-height: 1.5;
      margin-top: 0.5rem;
      white-space: normal;
    }
  }